<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/nav.ejs' ) %>
<body>

 <div class="edit-form">
  <h4>Edit your post!</h4>
<form action="/travelhub/<%=post._id%>?_method=PUT" method="POST">
  
  <div class="edit">
    <label>Title:</label>
    <input
      class="input-edit"
      row="5"
      type="text"
      placeholder="title here"
      name="name"
      value="<%= post.title %>"
    />
  </div>
  


<div class="edit">
  <label>Subject:</label>
    <input
      class="input-edit"
      type="text"
      placeholder="subject"
      name="subject"
      value="<%= post.subject %>"
    />
  </div>
  

  <div class="edit">
    <label>URL: </label>
      <input
        class="input-edit"
        type="text"
        placeholder="URL"
        name="url"
        value="<%= post.image %>"
      />
    </div>
  
  
  <div class="edit">
    <label>Body:</label>
    <textarea
      class="input-edit"
      rows="5" 
      cols="60"
      name="body"
      placeholder="what are you thinking?.."
      
    ><%= post.body %></textarea>
  </div> 

</form>

  <input class="edit-btn" type="submit" value="Submit">  
 
</body>


</div> 

</html>

