<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/nav.ejs' ) %>
<body>

 <div class="edit-form">
<form action="/travelhub/<%=post._id%>?_method=PUT" method="POST">
  
  <div class="edit">
    <label></label>
    <input
      class="input-title"
      row="5"
      type="text"
      placeholder="title here"
      name="name"
      value="<%= post.title %>"
    />
  </div>
  


<div class="edit">
  <label></label>
    <input
      class="input-subject"
      type="text"
      placeholder="subject"
      name="subject"
      value="<%= post.subject %>"
    />
  </div>
  

  <div class="edit">
    <label></label>
      <input
        class="input-url"
        type="text"
        placeholder="URL"
        name="url"
        value="<%= post.image %>"
      />
    </div>
  
  
  <div class="edit">
    <label></label>
    <textarea
      class="input-body"
      rows="5" 
      cols="60"
      name="body"
      placeholder="what are you thinking?.."
      value="<%= post.body %> "
    ></textarea>
  </div> 

</form>

  <input class="edit-btn" type="submit" value="Edit Post">  
 
</body>


</div> 

</html>

