<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%-include('partials/nav.ejs')%>
<body>
    <section class="section">
        <div class="container-grid ">
            <% post.forEach(post=> { %>
                <div class="post-div">
                    <div class="header">
                    <h8 class="title"> t/SummerTravel</h8>
                    <small class="text-muted">
                        <%= post.date.toDateString() %>
                    </small>
                </div>
                    <img class="card-img-bottom img-fluid" src="<%=post.image %>">
                    <a href="/travelhub/<%= post._id %>">
                        <%= post.title %>
                    </a>
                    <div class="card-body">
                        <p class="text-body">
                            <%= post.body %>
                        </p>
                        
                    </div>

                </div>
                <% }) %>

        </div>

    </section>
</body>

</html>