<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%-include('partials/nav.ejs')%>
<body>
    <section>
        <div class="container-grid ">
            <% post.forEach(post=> { %>
                <div class="post-div">
                    <h5 class="title"> t/SummerTravel</h5>
                    <p><img class="card-img-bottom img-fluid" src=<%="post.image" %>></p>
                    <a href="/travelhub/<%= post._id %>">
                        <%= post.title %>
                    </a>
                    <div class="card-body">
                        <p class="text-body">
                            <%= post.body %>
                        </p>
                        <small class="text-muted">
                            <%= post.date.toDateString() %>
                        </small>
                    </div>

                </div>
                <% }) %>

        </div>

    </section>
</body>

</html>