

<section>
    <div>
        <h2 class="title">Post: <%=post.title%></h2>
        
        <%=post.subject%>
        <%=post.body%>
        <%=post.date%>
        


    </div>

    <div>
        <p class="control">
            <form action="/travelhub/<%= post.id %>?_method=DELETE" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete Post"/>                    
            </form>
        </p>

    </div>

    <div>
        <a href="/travelhub/<%=id%>/edit">Edit Post</a>
    </div>