<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SET NAME HERE</title>
    <link rel="stylesheet" href="styles/main.css" />
    <script src = 'scripts/app.js' defer></script>
</head>
<body>
    

<section>
    <div class="container d-flex align-content-start flex-wrap"
        style="width: 500px; background-color: rgba(160, 226, 197, 0.349)" ;>

        <div style="margin:100px" class="post-container">
            <!-- <div class="row justify-content-center"> -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div>
                                <h2 class="title">Post: <%=post.title%>
                                </h2>
                                <p>Subject:<%=post.subject%>
                                </p>

                                <p>Body:<%=post.body%>
                                </p>

                                <p>Date:<%=post.date%>
                                </p>

                            </div>
                            <form>
                                <label for="exampleFormControlTextarea1"></label>
                                <textarea class="form-control mh-100" style="background-color: rgba(0,0,255,0.1);"
                                    id="exampleFormControlTextarea1" rows="3" placeholder="edit post here"></textarea>
                            </form>
                            <div class="row align-items-end">
                                <div class="form-group col-5 col-md-5 ">
                                    <p class="control">
                                    <form action="/travelhub/<%= post.id %>?_method=DELETE" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete Post" />
                                    </form>
                                    </p>
                                </div>
                                <div class="form-group col-5 col-md-5 ">
                                    <button><a href="/travelhub/<%=id%>/edit">Edit Post</a></button>
                                </div>
                                <h2>Comments Section</h2>
                                <li><%comment.forEach(comments=> {%>
                                    <p><%=comments.content%></p>
                                    <li><a href="/travelhub/<%=comments._id%>"><%=comments.content%></a></li>
                                    <%})%>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('../views/comment/show.ejs')%>

</html>

