<!DOCTYPE html>
<html lang="en">


<%-include('partials/nav.ejs')%>
<section>
<div class="page-container">
    <div class="edit-post">    
                <span>
                    <h3><%=post.title%></h3>
                    <p><em><%=post.subject%></em></p>
                    <p><%=post.body%></p>
                    <small><%=post.date.toDateString()%></small>
                </span>
                
                <form>
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control mh-100" style="background-color: rgba(0,0,255,0.1);"
                        id="exampleFormControlTextarea1" rows="3" placeholder="edit post here"></textarea>
                </form>
                <div class="buttons">
                <form action="/travelhub/<%= post.id %>?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete Post" />
                </form>
                        <button><a href="/travelhub/<%=id%>/edit">Edit Post</a></button>
            </div>
            </div>
                    <div class="new-comments">
                        <h4>Comments Section</h4>
                        <%-include('../views/comment/show.ejs', {postId: post._id})%>
                        <div class="new-comment-posted">
                            <%comment.forEach(comments=> {%>
                                <div class="card"
                            <span src="/travelhub/<%=comments._id%>">
                                <%=comments.content%>
                            </span>
                            <%})%>
                        </div>
                    
                    </div>
                </div>
                </section>

</html>

