<!DOCTYPE html>
<html lang="en">


<%-include('partials/nav.ejs')%>
<section>
<div class="page-container">
    <div class="edit-post">    
                <span>
                    <h3><%=post.title%></h3>
                    <p><em><%=post.subject%></em></p>
                    <p><%=post.body%></p>
                    <small><%=post.date.toDateString()%></small>
                </span>
            
        </div>
            <div class="buttons">
                    
                
                        <button class="edit-btn-show button"><a href="/travelhub/<%=id%>/edit">Edit Post</a></button>
                        <form action="/travelhub/<%= post.id %>?_method=DELETE" method="POST">
                            <input class="btn-danger button" type="submit" value="Delete Post" />
                        </form>
                    
            
            </div>
                    <div class="new-comments">
                        <h4>Comments Section</h4>
                        <%-include('../views/comment/show.ejs', {postId: post._id})%>
                        <div class="new-comment-posted">
                            <%comment.forEach(comments=> {%>
                                <div class="card"
                            src="/travelhub/<%=comments._id%>">
                            
                           <div class="comment-user"> <%=comments.user.username%></div>
                            <p><%=comments.content%></p>
                            
                            
                            </div>
                            <%})%>
                        </div>
                    
                    </div>
                </div>
                </section>

</html>

